.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 45%;
  display: flex;
  margin: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 1rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.character-image {
  border-radius: 1rem 0 0 1rem;
}

.character-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.character-info {
  padding: 1rem;
  flex: 50%;
}

.location-info {
  color: rgb(158, 158, 158);
  padding-top: 2rem;
}

.location-info div {
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.paginationItem {
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}